h1, h2, a {
    font-family: 'Lobster', cursive;
}

article {
    font-family: 'Lora', serif;
    color: #0310EA;
    margin: 5px;
}

.nav, a {
    color: #0310EA;
    border: solid 1px #0310EA;
}

.container {
    border: solid 5px #fb33db;
    border-radius: 4px;
}

h2 {
    color: #0310EA;
    text-align: center;
    border-bottom: 2px solid #0310EA;
}

a:hover {
    color: #fb33db;
}

.active {
    color: #fb33db;
}

img {
    border: solid 5px #0310EA;
    border-radius: 4px;
    margin: 15px;
}
h1 {
    color: #fb33db;
}
header {
    padding: 5px;
    border-bottom: solid 5px #fb33db;
}

body{
    background-image:url(assets/papyrus.png);
    
}

.btn-outline-primary {
    border-color: #fb33db;
    color:#fb33db;
    width:100%;
}

    .btn-outline-primary:hover, .btn-outline-primary:active{
    background-color:#0310EA;
    border-color:#0310EA;
}

.card-img-overlay{

    background:white;
    width:250px;
    height:10px;
    top:175px;
    margin:0;
    left:16px;
    border:solid 2px #0310EA;
    border-radius:3px;
}

.card{
    padding:0;    
    background:transparent;
    border:none;
}

.card-img{
    width:250px;
    padding:0;
    margin:0;
    border:solid 1px #0310EA;
}

.card-text{
    color: #0310EA;
    position:absolute;
    font-family: 'Lora', serif;
    text-align:center;
    bottom: 9px;
    width:80%;
}


@media screen and (max-width:780px){
    .float-right,float.left{
        float:none;
        margin:0;
        padding:0;
    }
    h1, row, .container, .col-md-6{
        float:right;
    }
    .nav-item{
        float:right;
    }
    .container{
        border:solid #0310EA;
    }
    .card{
        width: 100%;
        padding-left:30%;
        float:right;
    }
    .card-img{
        float:right;
    }
}

@media screen and (max-width:600px){
    .float-right,float.left{
        float:none;
    }
    h1, row, .container{
        float:left;
    }
    .nav-item{
        float:right;
    }
    .container{
        background-color:#fb33db;
        border:solid #0310EA;
    }
    .card{
        background-color:#fb33db;
        width: 100%;
        padding-left:150px;
        float:right;
    }
    .card-img{
        float:right;
    }
}